fastapi
uvicorn
jinja2
python-multipart
itsdangerous
bcrypt
tldextract
requests
python-whois
dnspython
joblib
scikit-learn
numpy
pandas
sqlalchemy
supabase
reportlab
beautifulsoup4
python-dotenv
psycopg2-binary
